* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.spin-left {
  animation: img-spin-left infinite 20s linear;
}

.spin-right {
  animation: img-spin-right infinite 20s linear;
}

@keyframes img-spin-left {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

@keyframes img-spin-right {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}